* {
    paddingTop: 5px;
    paddingLeft: 5px;
    paddingBottom: 5px;
    paddingRight: 5px;
    spacingSize: 5px;
}
.topHBoxOutside {
    -fx-padding-top: paddingTop;
    -fx-padding-left: paddingLeft;
    -fx-padding-right: paddingRight;
    -fx-spacing: spacingSize;
}
.topHBoxInside {
    -fx-padding-top: paddingTop;
    -fx-padding-left: paddingLeft;
    -fx-padding-bottom: paddingBottom;
    -fx-padding-right: paddingRight;
    -fx-spacing: spacingSize;
}
.centerHBox {
    -fx-padding-left: paddingLeft;
    -fx-padding-right: paddingRight;
    -fx-spacing: spacingSize;
}
.bottomHBoxOutside {
    -fx-padding-top: paddingTop;
    -fx-padding-left: paddingLeft;
    -fx-padding-bottom: paddingBottom;
    -fx-padding-right: paddingRight;
}
.bottomHBoxInside {
    -fx-padding-left: paddingLeft;
    -fx-padding-bottom: paddingBottom;
    -fx-padding-right: paddingRight;
    -fx-spacing: spacingSize;
}
.vBox {
    -fx-spacing: spacingSize;
}
